<<<<<<< HEAD
.buycount {
  border: 1px solid #aaa;
  padding: 10px;
  min-height: 30px;
}
=======
.buycount {
  border: 1px solid #aaa;
  padding: 10px;
  min-height: 30px;
}
>>>>>>> 5bdc84dd5ad320152935e4fedc4d67af63a9e326
