<p>myc02-emplist works!</p>
<h3>員工列表</h3>
<hr>
<table border="1" width="100%">
  <tbody>
    <tr>
      <td>編號</td>
      <td>姓名</td>
      <td>薪資</td>
      <td>生日</td>
      <td>性別</td>
      <td>政治面貌</td>
    </tr>
    <tr *ngIf="this.empList.length == 0; else showEmp">沒有員工了！</tr> <!-- else是多餘的, 數組長度為零代表ngFor也循環不出東西 -->
    <ng-template #showEmp>
      <tr *ngFor="let emp of empList; index as i" >
      <td>{{ emp.eid }}</td>
      <!-- <td>{{ emp.ename | titlecase}}</td> 官方的預定義管道 -->
      <td>{{ emp.ename | slice : 0 : 3 }}...</td> <!-- 官方的預定義管道 -->
      <!-- <td>{{ emp.salary | number : '4.1-4' }}</td> -->
      <td>{{ emp.salary | currency : '#' }}</td>
      <td>{{ emp.birthday | date : 'yyyy-MM-dd'}}</td>
      <!-- <td>{{ emp.sex == 1 ? '男' : '女' }}</td> -->
      <td>{{ emp.sex | sex : 'en' }}</td> <!-- 過濾器 通過管道(|)進入過濾器,使用:給管道傳參數 相當於Vue的filter-->
      <!-- <td>{{ emp.zzmm == 10 ? '民眾' : emp.zzmm == 20 ? '團員' : '幹部'}}</td> -->
      <td>{{ emp.zzmm | zzmm }}</td>
      <td><button (click)="delEmp(i)">刪除</button></td>
    </tr>
    </ng-template>

  </tbody>
</table>
<hr>
<div>{{ empList }}</div>
<div>{{ empList | json }}</div>
