@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625573822562') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px; /*可調整大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-success:before {
  content: "\e630";
}

.icon-chenggong:before {
  content: "\e666";
}

